<br>



<br>

<div id="Ace_WholeBody">
	<br>
	<label id="tester123"></label>
	<br>
	<form action="../item/addItem" method="post">
		<table id="Ace_itemTable">
			<tr>
				<td><label>Item Name :</label></td>
				<td><input type="text" id="itemName" name="itemName" placeholder="Input name of item" required>
				</td>
				<td>
					<input type="file" id="posterUpload" name="posterUpload"
						accept="image/png,image/jpeg,image/jpg,image/gif" required>
					<div class="font-weight-bold text-danger small" id="posterErr" style="display:none"></div>
				</td>
			</tr>

			<tr>
				<td>
					<label>Item Price:</label>
				</td>
				<td>
					<input type="number" id="itemPrice" step="any" name="itemPrice" min="0" max="500" required>
				</td>
				<td rowspan="2">
					<img id="poster" src="/img/no-image.jpg" alt="" class="border img-thumbnail img-fluid"
						style="height:250px;width:250px">
					{{!—- Hidden field to submit URL of poster to the server --}}
					<input id="posterURL" type="hidden" name="posterURL">

				</td>
			</tr>

			<tr>
				<td>
					<label>Item Description :</label>
				</td>
				<td>
					<textarea id="itemDescription" name="itemDescription" rows="5"
						placeholder="Input Description of item" required></textarea>
				</td>

			</tr>
			<tr>
				<td >
								 <label for="Quantity">Quantity</label>
		
				
					
				</td>
	
				<td>		
					
						<input  type="number" name="Quantity" id="Quantity"	min= "0" max ="100" value="0"  required>
	 <label id="Ace_ChangeToGray" >Roughly how many you can sell </label>
				</td>


			</tr>
			<tr>
				<td></td>
				<td>
					<label>&nbsp;&nbsp;&nbsp;</label>
					<input class="form-check-input" type="checkbox" name="Seenbyothers" id="Seenbyothers"
						value="Seenbyothers" checked>

					<label class="form-check-label" for="Seenbyothers">Seen by others</label>
					<label id="Ace_ChangeToGray"> &nbsp;&nbsp;&nbsp; Uncheck so only you can see </label>

				</td>
				<td>
				</td>

			</tr>
			<tr>
				<td>

				</td>
				<td>
					<div class="form-check form-check-inline">

						<input class="form-check-input" type="radio" name="Halaltype" id="Halal" value="Halal" checked>

						<label class="form-check-label" for="Halal">Halal</label>

					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="Halaltype" id="non-Halal" value="non-Halal">
						<label class="form-check-label" for="non-Halal">non-Halal</label>
					</div>
				</td>
				<td>
					<label>&nbsp;&nbsp;&nbsp;</label>
					<input class="form-check-input" type="checkbox" name="Vegtype" id="Veg" value="Veg">
					<label class="form-check-label" for="Veg">Veg</label>



				</td>
			</tr>
			<tr>
				<td><label>Cuisine</label></td>
				<td>
					<div class="form-check form-check-inline">

						<input class="form-check-input" type="radio" name="Cuisine" id="Chinese" value="Chinese"
							checked>

						<label class="form-check-label" for="Chinese">Chinese</label>

					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="Cuisine" id="Malay" value="Malay">
						<label class="form-check-label" for="Malay">Malay</label>
					</div>
					<div class="form-check form-check-inline">

						<input class="form-check-input" type="radio" name="Cuisine" id="Indian" value="Indian">

						<label class="form-check-label" for="Indian">Indian</label>

					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="Cuisine" id="Western" value="Western">
						<label class="form-check-label" for="Western">Western</label>
					</div>
					<div class="form-check form-check-inline">

						<input class="form-check-input" type="radio" name="Cuisine" id="Japanese" value="Japanese">

						<label class="form-check-label" for="Japanese">Japanese</label>

					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="Cuisine" id="Korean" value="Korean">
						<label class="form-check-label" for="Korean">Korean</label>
					</div>

				</td>

			</tr>
			<tr>
				<td><label>Days food available :</label></td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="DaysAvailable" id="Monday" value="Monday"
							onclick="ensureOneCheck('DaysAvailable', 'DaysErr', 'Ace_itemCreate')" checked>
						<label class="form-check-label" for="Monday">Monday</label>
					</div>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="DaysAvailable" id="Tuesday"
							value="Tuesday" onclick="ensureOneCheck('DaysAvailable', 'DaysErr', 'Ace_itemCreate')">
						<label class="form-check-label" for="Tueday">Tuesday</label>
					</div>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="DaysAvailable" id="Wednesday"
							value="Wednesday" onclick="ensureOneCheck('DaysAvailable', 'DaysErr', 'Ace_itemCreate')">
						<label class="form-check-label" for="Wednesday">Wednesday</label>
					</div>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="DaysAvailable" id="Thursday"
							value="Thursday" onclick="ensureOneCheck('DaysAvailable', 'DaysErr', 'Ace_itemCreate')">
						<label class="form-check-label" for="Thursday">Thursday</label>
					</div>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="DaysAvailable" id="Friday" value="Friday"
							onclick="ensureOneCheck('DaysAvailable', 'DaysErr', 'Ace_itemCreate')">
						<label class="form-check-label" for="Friday">Friday</label>
					</div>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="DaysAvailable" id="Saturday"
							value="Saturday" onclick="ensureOneCheck('DaysAvailable', 'DaysErr', 'Ace_itemCreate')">
						<label class="form-check-label" for="Saturday">Saturday</label>
					</div>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="DaysAvailable" id="Sunday" value="Sunday"
							onclick="ensureOneCheck('DaysAvailable', 'DaysErr', 'Ace_itemCreate')">
						<label class="form-check-label" for="Sunday">Sunday</label>
					</div>
					<p class="font-weight-bold text-info" id="DaysErr" style="display:none">
						Please select one of the days
					</p>

				</td>
			</tr>
			<tr>
				<td><label>Time food available :</label>
					
				
				</td>
				<td>
							<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="timeAvailable" id="morning"
							value="morning" onclick="ensureOneCheck('timeAvailable', 'TimeErr', 'Ace_itemCreate')" checked>
						<label class="form-check-label" for="morning">morning(9am-12pm)</label>
					</div>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="timeAvailable" id="afternoon" value="afternoon"
							onclick="ensureOneCheck('timeAvailable', 'TimeErr', 'Ace_itemCreate')">
						<label class="form-check-label" for="afternoon">afternoon(12pm-4pm)</label>
					</div>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="timeAvailable" id="evening"
							value="evening" onclick="ensureOneCheck('timeAvailable', 'TimeErr', 'Ace_itemCreate')">
						<label class="form-check-label" for="evening">evening(4pm-8pm)</label>
					</div>

					
					<p class="font-weight-bold text-info" id="TimeErr" style="display:none">
						Please select one of the time slot
					</p>
				</td>

			</tr>
			<tr>
				<td><label>Location to meet up:</label></td>
			</tr>
			<tr>
				<td></td>

				<td>
					<ul>
						<li>
							<input class="form-check-input" type="checkbox" name="LocationD" id="North" value="North"
								onclick="ensureOneCheck('LocationD', 'LocationErr', 'Ace_itemCreate')" checked>
							<label class="form-check-label" for="North">North</label></li>
						<li> <input class="form-check-input" type="checkbox" name="LocationD" id="Central"
								value="Central" onclick="ensureOneCheck('LocationD', 'LocationErr', 'Ace_itemCreate')">

							<label class="form-check-label" for="Central">Central</label></li>
						<li> <input class="form-check-input" type="checkbox" name="LocationD" id="East" value="East"
								onclick="ensureOneCheck('LocationD', 'LocationErr', 'Ace_itemCreate')">

							<label class="form-check-label" for="East">East</label></li>
						<li> <input class="form-check-input" type="checkbox" name="LocationD" id="West" value="West"
								onclick="ensureOneCheck('LocationD', 'LocationErr', 'Ace_itemCreate')">

							<label class="form-check-label" for="West">West</label></li>

						<p class="font-weight-bold text-info" id="LocationErr" style="display:none">
							Please select one of the location
						</p>
					</ul>
				</td>
			</tr>

			<tr>
				<td></td>
				<td></td>
				<td><button id="Ace_itemCreate" type="submit"
						onclick="ensureOneCheck('DaysAvailable', 'DaysErr', 'Ace_itemCreate')" )>Create Item</button>
				</td>

			</tr>
			<tr>

		</table>
	</form>
	<br>
	<br>
</div>