<div class="container">
	<input id="query"></input>
	<input id="search" type="button" value="search"/>
	<div class="card card-body">
		<h3 class="text-primary">Food Listings</h3>
		<div id="card" class="card border-primary mb-2 w-100 mx-auto">
		
		</div>
	</div>

	<script>
		$(document).ready( function() {
			$("#search").click( function() {
				var query = $("#query").val();
				$.ajax({
					url: "/item/search/ajax/" + query,
					type: "GET",
					success: function(data) {
						var items = data.items;
						$("#card").html("");
						$.each(items, function(index, item) {
							var row = `
							<div class="card-header">
								<h5 class="card-title">${item.itemName}</h5>
							</div>
							<div class="card-body">
								{{!-- Practical 09 Exercise 02 --}}
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-2">
										<a href="${item.posterURL}" data-title="${item.itemName}" data-toggle="lightbox">
											<img src="${item.posterURL}" alt="Poster unavailable" class="img-thumbnail img-fluid">
										</a>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-8">
										<div class="row"> {{!-- subtitles, language... --}}
											<div class="col-sm-12 col-md-6 col-lg-3">
												<p class="font-italic">Subtitles</p>
												<p class="text-info">
													${item.itemPrice}
												</p>
											</div>
											<div class="col-sm-12 col-md-6 col-lg-4">
												<p class="font-italic">Language</p>
												<p class="text-info">
													${item.Cuisine}
												</p>
											</div>
											<div class="col-sm-12 col-md-6 col-lg-2">
												<p class="font-italic">Class</p>
												<p class="text-info">${item.Halaltype}</p>
											</div>
											<div class="col-sm-12 col-md-6 col-lg-3">
												<p class="font-italic">Date Release</p>
												<p class="text-info">${item.Quantity}</p>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-6 col-lg-10">
												<p class="font-italic">Starring</p>
												<p class="text-info">${item.timeAvailable}</p>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-6 col-lg-2">
										<p class="font-italic"></p>
										<a href="/item/edit/${item.id}" class="card-link">
											<i class="fas fa-pencil-alt"></i>
											Edit
										</a>
										<a href="/item/delete/${item.id}" class="card-link" data-toggle="confirmation"
											data-title="Confirm delete?">
											<i class="far fa-trash-alt"></i>
											Delete
										</a>
									</div>
								</div>
							</div>

							<div class="accordion" id="storyAccordion${item.id}">
								<div class="card-header" id="headingOne${item.id}">
									<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne${item.id}"
										aria-expanded="false" aria-controls="collapseOne${item.id}">
										Story<i class="fas fa-chevron-down"></i>
									</button>

								</div>

								<div id="collapseOne${item.id}" class="collapse" aria-labelledby="headingOne${item.id}"
									data-parent="#storyAccordion${item.id}">
									<div class="card-body">
										${item.story}
									</div>
								</div>
							</div>
	
							`
							$("#card").append(row);
						})
					}
				})
			})
		})
	</script>



</div>