<h1 class='display-4' style="text-align:center">History</h1>
<p class='lead' style="text-align:center">Past Transection</p>
<br>
{{#if show}}
{{#each show}}
{{itemName}}


{{/each}}
{{else}}
No history recorded
{{/if}}