<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/logo.png">
			<h3 class="text-center">Account Login</h3>
			<form method="post" action="../user/login"> 
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" required value="{{email}}">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" required value="{{password}}">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>


{{!-- const express = require('express');
const router = express.Router();
router.get('/', (req, res) => {
const title = 'Video Jotter';
res.render('index', { // renders views/index.handlebars
title
})
});
router.get('/about', (req, res) => {
const author = 'Your name';
res.render('about', { // renders views/about.handlebars, passing
author as variable
author: autho --}}