<br>
<br>
{{#if user}}
{{!--<form action="../chatgroup/chatss" method="post"></form>--}}
<div id="Joshua_chatting">
	<div id="chat-window">
		
		<div id="output"></div>

		<div id="feedback"></div>
	</div>
	<div id="handle">{{user.name}}</div>
	<input id="message" type="text" placeholder="Message"/>
	<button id="send">Send</button>
</div>
{{!--</form>--}}
{{/if}}
