<br>
<br>
{{#if user}}
<form action="../chatgroup/chatss" method="post">
<div id="Joshua_chatting">
	<div id="chat-window">
		<div>{{user.name}}</div>
		<div id="output"></div>

		<div id="feedback"></div>
	</div>
	<input id="message" type="text" placeholder="Message"/>
	<button id="send">Send</button>
</div>
</form>
{{/if}}
